@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	height: auto;
	width: auto;
}

.nav {
	width: 100%;
	display: flex;
	height: auto;
	align-items: center;
	justify-content: space-evenly;
	padding: 25px 20px;
	box-shadow: 5px 8px 5px rgba(19, 19, 19, 0.2);
	z-index: 10;
}

.nav .logo .buslogo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 40px;
}

a {
	color: black;
	text-decoration: none;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.logo h1 {
	margin-left: 20px;
	font-size: 34px;
	font-weight: 500;
	color: #ff881a;
}

.notification {
	display: none;
}

.nav ul {
	list-style: none;
}

.nav ul li {
	display: inline;
	margin: 0 20px;
	font-size: 24px;
	font-weight: 400;
}

.font {
	color: #ff881a;
}

.buttons {
	display: flex;
	gap: 50px;
}

.buttons button {
	width: 183px;
	height: 48px;
	font-size: 20px;
}

.btnflex {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

.white {
	background-color: #ff881a;
	color: white;
}

.orange {
	background-color: #f0f0f0;
	color: #ff881a;
	border: 2px solid #ff881a;
}

.btnflex span {
	margin-right: 8px;
}

.btnflex img {
	width: 16px;
	height: 16px;
}

.circle {
	display: none;
}

.menu-button {
	height: 36px;
	width: 36px;
	display: none;
	height: 28px;
	width: 28px;
}

.signin {
	display: none;
}

.mobile-footer {
	display: none;
}

.menu-btn {
	display: none;
}

.container {
	width: 85%;
	margin: auto;
	margin-top: 5%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-size: cover;
}

.about h2,
.management h2 {
	color: #ff6f00;
	font-size: 42px;
	font-weight: 500;
	margin-bottom: 10px;
}

.about h2 {
	margin-bottom: 40px;
}

.about p {
	font-size: 28px;
	font-weight: 400;
	line-height: 1.5;
}

.management {
	margin-top: 20px;
}

.team-member {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.team-member img {
	width: 283px;
	height: 283px;
	border-radius: 50%;
	margin-right: 20px;
}

.team-member .info {
	flex: 1;
}

.team-member h3 {
	margin: 0;
	font-weight: 400;
	font-size: 36px;
}

.team-member p {
	margin: 5px 0 0;
	font-size: 28px;
	font-weight: 400;
}

.margin {
	margin-top: 100px;
}

footer {
	margin-top: 10%;
}

.top {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.footer-section {
	display: flex;
}

.footer-left {
	margin-left: 100px;
	width: 500px;
}

.footer-right {
	margin-right: 100px;
}

.footer-left h1 {
	font-size: 56px;
	font-weight: 500;
	margin-bottom: 25px;
}

.footer-left p {
	font-size: 28px;
	font-weight: 400;
}

.footer-right h4 {
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 20px;
}

.footer-right li {
	font-size: 28px;
	font-weight: 400;
	list-style: none;
	margin: 20px 0;
}

.footer-section ul {
	margin-right: 70px;
}

.bottom-left h3 {
	font-size: 36px;
	margin-bottom: 20px;
}

.bottom-left img {
	height: 58px;
	width: 58px;
	margin-right: 20px;
}

.uparrow {
	background: #f3f3f3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
}

.bottom {
	display: flex;
	padding: 40px;
	align-items: flex-start;
	justify-content: space-between;
}

.bottom h3 {
	font-weight: 500;
}

.bottom-left {
	margin-left: 10%;
}

.bottom-right {
	margin-right: 10%;
	padding: 5px 7px;
	border-radius: 5px;
}

.copy-left {
	font-size: 28px;
	font-weight: 400;
	display: flex;
	margin-left: 10%;
}

.copy-left p {
	margin-right: 30px;
}

.copy-right {
	font-weight: 500;
	font-size: 20px;
	margin-right: 10%;
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 30px;
}

.copy-show {
	display: none;
}

.footer-show {
	display: none;
}

.font {
	color: #ff881a;
}

@media (max-width: 1024px) {
	.menu-btn {
		display: block;
	}
	body {
		height: auto;
		width: 1024px;
	}
	.btn-none {
		display: none;
	}
	.links {
		display: none;
	}
	.menu-button {
		display: inline;
		height: 28px;
		width: 28px;
	}
	.nav {
		justify-content: space-between;
	}
	.btnflex1 {
		display: none;
	}
	.signin {
		display: inline;
	}
	.links {
		display: none;
	}

	/*  footer */

	.top h1,
	h4 {
		font-size: 36px;
	}

	.info h1 {
		font-size: 50px;
		color: white;
		font-weight: 300;
	}

	.top p,
	.top li {
		font-size: 22px;
	}

	.footer-right {
		margin-left: 5%;
	}

	.footer-margin {
		margin-left: 50px;
	}

	.footer-right {
		margin: 0;
	}

	.top {
		align-items: flex-start;
	}

	.footer-left {
		margin: 0;
		width: 400px;
	}

	.footer-right1 h4 {
		margin-left: 45px;
	}

	.top {
		margin: 30px auto;
		margin-left: 50px;
	}
	.bottom-right {
		display: none;
	}
	.bottom {
		justify-content: center;
	}
	.social-links {
		margin-left: -40px;
	}
	.footer-none {
		display: none;
	}
	.copyright {
		justify-content: space-around;
	}
	.copy-show {
		display: block;
		text-align: center;
		font-size: 28px;
	}
	.signin {
		display: block;
	}

	.uparrow {
		display: flex;
	}

	.copy-show p {
		font-size: 20px;
	}
}

@media (max-width: 375px) {
	body {
		max-width: 375px;
		width: 100%;
	}
	.logo-hide {
		display: none;
	}
	.signin {
		display: none;
	}
	.notification {
		display: block;
	}
	.home-page {
		display: none;
		color: red;
	}
	.logo h1 {
		font-size: 20px;
		font-weight: 400;
	}
	.menu-btn {
		width: 24px;
		height: 24px;
	}
	.about h2 {
		font-weight: 400;
		font-size: 24px;
	}

	.about p {
		font-size: 12px;
		margin-left: 0;
		margin-top: -20px;
	}
	.about {
		padding: 0;
		margin: 0;
		width: 345px;
	}

	.container {
		padding: 0;
		margin: 0 2px;
	}

	.nav {
		padding: 0;
		margin: 30px 0;
		margin-top: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.management h2 {
		font-size: 16px;
		margin-bottom: -20px;
	}

	.team-member img {
		width: 87px;
		height: 87px;
	}

	.info h3 {
		font-size: 18px;
		font-weight: 500;
	}

	.info p {
		font-size: 12px;
		font-weight: 400;
	}

	.mobile-footer {
		display: block;
	}

	.mobile-footer {
		font-family: Arial, sans-serif;
		background-color: #f9f9f9;
		color: #333;
		padding: 20px;
	}

	.notification {
		margin-right: 40px;
	}

	.mobile-container {
		max-width: 375px;
		margin: auto;
		background-color: #fff;
		padding: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		text-align: center;
	}

	.mobile-section {
		margin-bottom: 20px;
	}

	.mobile-section h2 {
		font-size: 18px;
		margin-bottom: 10px;
		color: #444;
	}

	.mobile-section p {
		font-size: 14px;
		line-height: 1.6;
	}

	.mobile-section ul {
		list-style: none;
	}

	.mobile-section ul li {
		margin-bottom: 10px;
	}

	.section ul li a {
		color: #007bff;
		text-decoration: none;
	}

	.mobile-section ul li a:hover {
		text-decoration: underline;
	}

	.mobile-social-media {
		text-align: center;
		margin-bottom: 20px;
	}

	.mobile-social-media h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.mobile-social-media .icons a {
		margin: 0 5px;
		display: inline-block;
	}

	.mobile-social-media .icons a img {
		width: 30px;
		height: 30px;
	}

	.back-to-top {
		text-align: center;
		margin-bottom: 20px;
	}

	.back-to-top a {
		color: #007bff;
		text-decoration: none;
	}

	.back-to-top a:hover {
		text-decoration: underline;
	}

	.mobile1-footer {
		text-align: center;
		font-size: 12px;
		color: #666;
	}

	.mobile1-footer a {
		color: #007bff;
		text-decoration: none;
	}

	.mobile1-footer a:hover {
		text-decoration: underline;
	}

	.mobile1-footer p {
		margin-top: 10px;
	}

	.banner {
		display: none;
	}

	.faq {
		display: none;
	}

	footer {
		display: none;
	}

	.mobile-footer {
		display: block;
	}

	.mobile-icons img {
		height: 45px;
		width: 45px;
	}

	.margin {
		margin-top: 30px;
	}
}
